@model IEnumerable<CustomerAccounting.Models.Client>

@{
    ViewBag.Title = "Home Page";
}

<section id="mainTarget">
    @Html.Partial("_ClientList", Model)
</section>



@section scripts{
    <script>
            function Download(data) {
                if (data.filename !== "") {
                    window.location.href = "@Url.RouteUrl(new {Controller = "Home", Action = "Download"})/?filename=" +
                        data.filename;
                }
            }
    </script>
}